li {
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  line-height: 1rem;
  padding: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
}

h3 {
  padding-left: 1.5rem;
  font-size: 18px;
  font-weight: lighter;
}

img {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 50%;
  float: left;
  margin: 2rem;
}
